<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>erodedrocks</string>
	<key>description</key>
	<string>c0</string>
	<key>name</key>
	<string>C0</string>
	<key>uuid</key>
	<string>B25EB411-046D-44AA-877F-8883B6DF5BEB</string>
</dict>
</plist>
